#content > div {
  padding: 20px;
}
.panel {
  margin: 10px 0;
  border: 1px solid grey;
}
.breatheBottom {
  margin-bottom: 15px;
}
.ui.toggle.checkbox input {
  width: 6.5rem;
  height: 3.5rem;
}
.darken {
  background:rgb(240, 240, 240);
}
.production {
  background: #FCFCFC;
}
.fullPlus {
  font-size: 28px !important;
  text-align: center;
  cursor: pointer !important;
}
.menu.large.ui {
  font-weight: bold !important;
}
.paddedContent {
  padding: 20px;
}
.covertEditable {
    border: none;
    font-size: 16px;
}

.covertEditable:hover {
    border: 1px solid black;
}

.dataTable table {
    table-layout:fixed
    overflow: scroll;
}

.dataTable td {
    overflow:hidden;
    white-space:nowrap;
    border: 1px solid grey;
}

.scroll {
  overflow:scroll;
}

.textEditor {
  width: 100%;
  height: 350px;
}

.buttons.sizing.right {
  float: right;
}
.buttons.sizing .button {
  padding: 4px;
}
.textEditor {
  font-family: 'monospace';
  border: none;
  outline: none;
  background: #2F2F2F;
  color: white;
  padding: 10px;
}
